#navigation, #bar, .sensiolabs
{
  display: none;
}

#content1
{
  margin-right: 0;
}

a:link, a:visited
{
  text-decoration: none;
}

/*
     FILE ARCHIVED ON 06:11:00 Jun 27, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:24:03 Mar 30, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 105.103
  load_resource: 3902.07
  esindex: 0.009
  exclusion.robots: 0.14
  RedisCDXSource: 0.757
  PetaboxLoader3.resolve: 3451.277 (2)
  PetaboxLoader3.datanode: 482.924 (5)
  CDXLines.iter: 13.554 (3)
  LoadShardBlock: 84.83 (3)
  exclusion.robots.policy: 0.13
*/